@charset "UTF-8";



#controlpanel2container{
	top: 5px;
    left: 5px;
    height: 207px;
    width: 32px;
    position: absolute;
    border: 1px solid;
    border-radius: 3px;
    z-index: 100;
    padding: 6px;

/* 	background-color: rgba(255, 255, 255, .15);   */
 	backdrop-filter: blur(5px);
 	color: #85d6d1;
    text-shadow: 0px 0px 5px #85d6d1;
    background-color: var(--commonBg);

}

.myButton{
/*     margin-left: 2px; */
/*     margin-top: 5px; */
    max-width: 31px;
    
}

.myButton:hover{
	cursor: pointer;
	background: white;
}

#cataloguePanel{
	
	position: absolute;
    width: 200px;
    height: 200px;
    max-height: 500px;
    background-color: var(--commonBg);
    left: 55px;
    top: 7px;
    border-radius: 3px;
    overflow: scroll;
	
}

#cataloguePanel ul {
	list-style-type: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}



#cataloguePanel li:hover{
	background-color: var(--commonHover);
	cursor: pointer;
	color: white;
}


#footprintPanel{
	
	position: absolute;
    width: 200px;
    height: 200px;
    max-height: 500px;
    background-color: var(--commonBg);
    left: 55px;
    top: 7px;
    border-radius: 3px;
    overflow: scroll;
	
}

#footprintPanel ul {
	list-style-type: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

#footprintPanel li:hover{
	background-color: var(--commonHover);
	cursor: pointer;
	color: white;
}

#spectraPanel{
	
	position: absolute;
    width: 200px;
    height: 200px;
    max-height: 500px;
    background-color: var(--commonBg);
    left: 55px;
    top: 7px;
    border-radius: 3px;
    overflow: scroll;
	
}

#spectraPanel ul {
	list-style-type: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

#spectraPanel li:hover{
	background-color: var(--commonHover);
	cursor: pointer;
	color: white;
}