@charset "UTF-8";

#coordsContainer {
	width: 330px;
    height: 31px;
    position: absolute;
    top: 4px;
    left: 37%;
    background-color: var(--commonBg);
    color: var(--commonTextColor);
    padding: 3px;
    text-align: center;
    border-radius: 3px;
}