:root {
  --commonBg: rgba(0, 0, 0, .85);
  --commonHover: rgba(42, 54, 239, 0.17);
  --commonActive: rgba(42, 54, 239, 0.3);
  --commonfontfamily: monospace;
  --commonTextColor: #57d1c9;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: var(--commonfontfamily);
}
#fabviewer {
/* 	position: absolute; */
	left: 0px;
	top: 0px;
}

#fabvcontainer{
/* 	border: 1px solid green; */
	min-width: 150px;
	min-height: 150px;
	float: left;
}

#controlpanel{
	border: 1px solid black;
	padding: 5px;
	min-width: 180px;
	min-height: 50px;
	position: absolute;
	width: 20%;
	background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(5px);
 	color: #85d6d1;
 	cursor: move;
 	text-shadow: 0px 0px 5px #85d6d1;
 	font-family: monospace;
 	border-radius: 5px;
 	left: 1%;
 	top: 1%;
}


    
#datapanel{
	clear: left;
	width: 50%;
	height: 100%;
	min-height: 150px;
	border: 1px solid gray;
}

.button {
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CBA;
}


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}